* {
    padding: 0;
margin: 0;
box-sizing: border-box;
border: none;
outline: none;
scroll-behavior: smooth;
font-family:sans-serif ;
text-decoration: none;

}
:root {
    --bg-color:#fff;
    --snd-bg-color:#d5fdf9;
    --text-color:#000;
    --main-color:#007f73
}
html {
    font-size: 62.5%;
    overflow-x:hidden ;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
position: fixed;
width: 100%;
top: 0;
right: 0;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
padding: 2rem;
background-color: var(--main-color);
backdrop-filter: blur(10px);
transition: all 0.5s ease;


}
.logo {
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 700;

    cursor: pointer;
    transition: 0.3s ease;


}
#menu {
    display: none;
    font-size: 4rem;
    padding: 0;
    margin-right: 0;
}
#menu .navbar {
    text-align: end;
    margin-right: 0;
}
.logo:hover{
    transform: scale(1.05);
    color: red;
}
.navbar a{
    color: var(--bg-color);
    margin-left: 4rem;
font-weight: 700;
transition: 0.3s ease;

}
.navbar a:hover,
.navbar a.active{
    color: var(--text-color);
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
    height: 25vw;
}
.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),0 0 35px  var(--main-color),0 0 45px  var(--main-color);
}
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateX(-2.4rem);

    }
    100% {
        transform: translateY(0);
    }
}
.home-content {
    margin-left: 5rem;
}
.home-content h3{
    font-size: 3.7rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2) {
margin-bottom: 2rem;
}
span{
    color: var(--main-color);
}
.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content p {
    font-size: 1.6rem;
}
.social-madia a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border:0.2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    font-size: 2rem;
}
.social-madia a:hover{
    background-color: var(--main-color);
transform: scale(1.2) translateY(-10px);
color: var(--bg-color);
box-shadow: 0 0 25px var(--main-color);
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
border-radius: 4rem;
font-size: 1.6rem;
color: var(--bg-color);
letter-spacing: 0.1rem;
font-weight: 600;
transition: 0.3s ease;
}
.btn:hover {
    box-shadow: 0 0 1.6rem var(--main-color);
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}
.about p {
    text-align: justify;
}
.about-img img {
    width: 25vw;
    border: 1px solid #000;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease;
    height: 25vw;
}
.about-img img:hover{
        box-shadow: 0 0 25px var(--main-color),0 0 35px  var(--main-color),0 0 45px  var(--main-color);
}

.heading {
    text-align: center;
    font-size: 6rem;
    margin-bottom: 3rem;
}
.about-content {
    padding: 0;
}
.about-content h2 {
    text-align: center;
    line-height: 1.2;
}
.about-content h3 {
    font-size: 3rem;

}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.Services h2 {
    margin-bottom: 5rem;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .services-box {
    flex: 1 1 30rem;
    background-color: var(--snd-bg-color);
    padding: 6rem 2rem 6rem;
border-radius: 2rem;
border: 1px
 solid #000;
text-align: center;
transition: 0.3s ease;
}
.services-container .services-box:hover {
   transform: scale(1.02);
    color: var(--main-color);

}
.services-box h3 {
    font-size: 2.6rem;

}
.services-box p {
    font-size: 1.6rem;
    margin: 1rem;
}.testimonial-item p {
    font-size: 1.6rem;
    text-align: center;
}
.testimonial {
    background:var(--snd-bg-color);
}
.testimoial-box {
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;
}
.testimoial-box img {
    width: 15rem;
    border-radius: 50%;
    height: 15rem;
    box-shadow: 0 0 25px var(--main-color);
}
/* .wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
} */
/* .testimonial-item{
    min-height: 450px;
    max-width: 450px;
    background: var(--bg-color);
    border: 1px solid #000;
border-radius: 2rem;
margin: 0 2rem;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px 20px;
align-items: center;
justify-content: center;
gap: 1.5rem;
} */
.contact {
    background: var(--bg-color);

}
.contact h2 {
    margin-bottom: 3rem;
    color: var(--main-color);
}
.contact form {
    max-width: 80rem;
    margin: 3rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form  .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form  .input-box input,
.contact form  textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    border: 1px solid var(--main-color);
    background: var(--bg-color)
    ;
    border-radius: 0.8rem;
    margin: 0.7rem 0;
    resize: none;
}
.contact form  .input-box input {
    width: 49%;
    margin: 0.7rem 0.35rem;
}
.contact from .btn{

}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--snd-bg-color);
}
.footer .social {
    text-align: center;
}

.footer .social a {
    font-size: 1.5rem;
    width: 42px;
    height: 42px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    line-height: 42px;
    display: inline-block
    ;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px ;
    transition: 0.3s ease;
}
.footer .social a:hover {
        background-color: var(--main-color);
transform: scale(1.2) translateY(-10px);
color: var(--bg-color);
box-shadow: 0 0 25px var(--main-color)
}
.footer .copyright {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
@media screen and (max-width:1200px) {
    html {
        font-size: 55%;
    }
    
}
@media screen and (max-width:991px) {
.header {
    padding: 2rem 3% ;
}
.header a {
    font-size: 20px;
}
section {
    padding: 10rem 3%;
}
.home-content p {
    font-size: 3rem;
 
}
.Services {
    padding: 7rem;
}.testimonial p {
    font-size: 16px;
}
.testimonial .wrapper {
    grid-template-columns: repeat(1,1fr);
}
.contact form .input-box input {
    width: 100%;
}
.footer {
    padding: 2rem 3%;
}.footer .copyright {
    font-size: 4rem;
}
}
@media screen and (max-width:951px){
    .home-content h1 {
        font-size: 5rem;
    }
    .home-content {
        order: 2;
        margin-left: 1rem;
    }.Services h2 {
        margin-bottom: 3rem;
    }
}@media screen and (max-width:957px){
    .Services .services-container {
        display: block;
  justify-content: center;
  align-items: center;
        padding: 5rem;
    }.services-box {
padding: 5rem;
 width: 50%;
 text-align: center;
 justify-content: center;

 margin:4rem auto;
 
    }
}
@media screen and (max-width:951px){
    .Services {
            grid-template-columns: repeat(1,1fr);
    }
}@media screen and (max-width:830px){
    .header {
        width: 100%;
    }
    #menu {
        display: block;
       
    }.navbar {
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: -100%;
        width: 255px;
        backdrop-filter: blur(10px);
        min-height: 100vh;
    background: transparent;
    line-height: 6px;
   
}
    .navbar a {
        display: block;
        font-size: 22px;
        padding: 17px;
     color: black;
}.navbar.active {
    right: -20px;
    margin-right: 0;
}
    .home {
display: inline-block;
        }.home .home-img{
            margin: auto;
            text-align: center;
        }
        .home .home-img img {
            width: 90%;
       text-align: center;

            border:none;
            border-radius: 0 0 0 0;
            height: 400px;
        }.home-content h3 {
            margin-top: 3rem;
        }.home-content p {
            font-size: 16px;
            width: 50%;
            border: 1px solid #000;
            margin: auto;
            padding: 2rem;
            font-weight: 800;
        }
        .home-content {
            text-align: center;
            align-items: center;
        }.about {
            flex-direction: column-reverse;
   
        }
}
@media screen and (max-width:700px){
    .home-img img {
        width: 70vw;
        margin-top: 4rem; height: 70vw;
    }
      .about-img img {
        width: 70vw;
        height: 70vw;
        margin-top: 4rem;
    }
    @media screen and (max-width:617) {
        html {
            font-size: 50%;
        }
    }
}
@media screen and (max-width:510px){
      
        
    .about p {
        width: 80%;
        text-align: center;
        font-size: 20px;
        padding: 0 2rem;
    }   
}
@media screen and (max-width:510px) {
    .Services {
        margin: 0;
    }
    .services-box{
        width: 100%;
   
    }
}